body{
	background: #eeeeee;
}

.scroll-y{
	height: 60%;
	overflow-y: scroll;
}
.card-cripto{
	padding:1%;
}
.color-indigo{
	color:#1a237e;
}
#my-criptos{
	background: #eeeeee;
}
#buy-criptos{
	background: #eeeeee;	
	padding-left: 3%;
	padding-right: 5%;
}
#cabecera-modal{
		padding:4%;
	margin-bottom: 5%;
	color:white;
}
.margin-0{
	margin:0 !important;

}
.padding-0{
	padding:0 !important;

}
#modal-message{
	padding:1%;
}
#modal-content{
	padding-bottom:0;
}
#row-comprobar-pagos{
	padding: 0.5%;
	padding-left: 3%;
	padding-right: 3%;
}
.retire-all-container{
	margin:1%;
}
